body {
  background-color: #238268;
}

::selection {
  color: #238268;
  background: #fcffdf;
}

.custom-button {
  text-transform: uppercase;
  font-size: 36px;
  font-family: BungeeInline;
  background-color: transparent;
  color: #fcffdf;
  cursor: pointer;
  border: 4px solid #fcffdf;
  padding: 0px 72px;
  border-radius: 100px;
  box-shadow: -6px 4px 0 #fcffdf;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
}

.inner-container {
  margin-top: 7em;
  text-align: center;
  z-index: 999;
}

.signup-container {
  text-align: center;
}

.input-container {
  margin: 0.75rem 0.75rem 0.75rem 9rem;
}

.bg-head {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 6.25em;
  font-family: BungeeOutlineRg;
  color: rgb(252, 255, 223, 0.2);
  position: fixed;
  top: 0;
  height: 100%;
}

.button-text {
  margin: -1.25rem;
}

.text {
  color: #fcffdf;
  font-family: GTWalsheimProRg;
  font-size: 1.25em;
}

.inner-box {
  background-color: #238268;
  color: #fcffdf;
  font-family: BungeeInline;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 0.75rem;
  font-size: 2.5rem;
}

.upi-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fcffdf;
  margin-bottom: 3rem;
  font-size: 2.25rem;
  padding: 0.5rem 0rem;
  color: #fcffdf;
  font-family: GTWalsheimProRg;
}

::placeholder {
  color: #fcffdf;
  opacity: 0.6;
}

.upi-input:focus {
  outline: none;
}

input {
  caret-color: #fcffdf;
}

.end-text {
  text-transform: uppercase;
  font-family: BungeeInline;
  font-size: 3rem;
  color: #fcffdf;
}

/* animated-transition */

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

.display {
  display: flex;
}

/* slot animation*/
.slot {
  height: 170px;
  width: 170px;
  position: relative;
  display: inline-block;
}

section {
  width: 8.75rem;
  height: 8.75rem;
  background-color: #fcffdf;
  border: none;
  border-radius: 0.75rem;
  text-align: center;
  margin: 1rem;
  position: absolute;
  overflow: hidden;
  display: flex;
}

.slot-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  align-items: center;
}

.scroll0 {
  transform: translateY(0px);
  transition-duration: 700ms;
}

.scroll-140 {
  transform: translateY(-140px);
  transition-duration: 800ms;
}

.scroll-280 {
  transform: translateY(-280px);
  transition-duration: 900ms;
}

.scroll-420 {
  transform: translateY(-420px);
  transition-duration: 1000ms;
}

.scroll-560 {
  transform: translateY(-560px);
  transition-duration: 1100ms;
}

.scroll-700 {
  transform: translateY(-700px);
  transition-duration: 1300ms;
}

.scroll-840 {
  transform: translateY(-840px);
  transition-duration: 1500ms;
}

.scroll-980 {
  transform: translateY(-980px);
  transition-duration: 1700ms;
}

.scroll-1120 {
  transform: translateY(-1120px);
  transition-duration: 1900ms;
}

.scroll-1260 {
  transform: translateY(-1260px);
  transition-duration: 2100ms;
}

.delay-0 {
  transition-delay: 100ms;
}

.delay-1 {
  transition-delay: 200ms;
}
.delay-2 {
  transition-delay: 300ms;
}

.Toastify__toast--default {
  background-color: #fcffdf !important;
  color: #238268 !important;
}

.Toastify__progress-bar--default {
  background: #238268 !important;
}

.Toastify__close-button--default {
  margin: auto;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: ease-in-out 600ms;
}

.none {
  display: none;
}

@media only screen and (max-width: 600px) {
  .custom-button {
    font-size: 24px !important;
    border: 2px solid #fcffdf;
    padding: 0px 72px !important;
    box-shadow: -3px 2px 0 #fcffdf;
    width: 100%;
  }

  .text {
    font-size: 1.25rem;
  }

  .inner-container {
    margin-top: 2.5em;
  }

  .input-container {
    margin: 0.75rem 2.5rem 0.75rem 2.5rem;
  }

  .display {
    display: block;
    padding-right: 10px;
  }

  .slot-container {
    margin-top: -15px;
  }

  .slot {
    height: 140px;
    width: 130px;
  }

  section {
    width: 6.75rem;
    height: 6.75rem;
  }

  .button-text {
    margin: 0px;
  }
}
